@charset "UTF-8";   /*日本語に設定 */

html {
  font-size: 100%;
  
}

body {

  margin: 0px;
  /* overflow: hidden; Hide scrollbars */


}


.main-nav {
  
  display: flex; /*　 文字の並びを横向きに設定　*/
  font-size: 1.25rem;
  text-transform: uppercase; /*  大文字にする　*/
  list-style: none; /*  文字の線をなしにしてる。  */
  justify-content: center;  /*　行の書式を中心に寄せてる。 */
  position: fixed;

  padding: 10px;

}

.main-nav li{
  text-decoration: none;
  /*   この設定でNAVバーの中身の位置を決めてる。*/  
  margin-left: 25px;
  margin-right: 25px;
 /**/
}
.main-nav :hover { /*　HOVERした時の設定。　NAVバーだけ。*/
  color: yellow;

}

.main-nav a {   /*　NAVの a の書式設定。 */

  color: white;
  text-decoration: none; 
}

.box{   /*　ボックスの設定。*/
  width: 100%;
  
  background-color: black;
  text-decoration: none;

}

.resize {
  margin-top: 0px;
}


.font{
  font-size: 1.25rem;
}
.background-2 {     /*画像の挿入 */
  background-image: url(images/Batman-mainbox.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.background-1 {     /*画像の挿入 */
  background-image: url(images/Batman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.background-test {
  background-color :pink;
}

.img-size{
  justify-content: center;
  /*  サイズ */
  width:100%;
  height: 1500px;
  max-width: 1600px;
  max-height: 880px;
  margin-top: 0px;
}

.size-text {
  position: static;
  width: 80%;
  padding: 50px 40px 50px 40px;
}

.center-text {
  text-align: center;
}


/*キャラクター*/


.character_1 {
	background-image: url("images/haikei222.jpg");	/*背景画像*/
	background-attachment: fixed;
	background-size: 100%;
	display: flex;		/*横並び*/
}

.character_2 {
  background-image: url("images/blu.jpg");	/*背景画像*/
	background-attachment: fixed;
	background-size: 100%;
	display: flex;		/*横並び*/
}
.character_3 {
  background-image: url("images/joker5-1.webp");	/*背景画像*/
	background-attachment: fixed;
	background-size: 100%;
	display: flex;		/*横並び*/
}

.character_4 {
  background-image: url("images/haikei333.jpg");	/*背景画像*/
	background-attachment: fixed;
	background-size: 100%;
	display: flex;		/*横並び*/
}

.character_5 {
  background-image: url("images/b73c8b1e.jpg");	/*背景画像*/
	background-attachment: fixed;
	background-size: 100%;
	display: flex;		/*横並び*/
}

.character_6 {
  background-image: url("images/al.jpg");	/*背景画像*/
	background-attachment: fixed;
	background-size: 100%;
	display: flex;		/*横並び*/
}
.character_7 {
  background-image: url("images/foo.jpg");	/*背景画像*/
	background-attachment: fixed;
	background-size: 100%;
	display: flex;		/*横並び*/
}

.character_8 {
  background-image: url("images/d2.jpg");	/*背景画像*/
	background-attachment: fixed;
	background-size: 100%;
	display: flex;		/*横並び*/
}


/*見出し*/
.wrapper_3{
    width:100%;
}
.wrapper_3 .container_3{
    max-width:1000px;
    margin:0px auto;
    padding:170px 0px;
}
/* content */
.wrapper_3 .content_3 {
    padding:10px;
    text-align:center;
}
.wrapper_3 .content_3{
	color: #fff;
    margin:0px 0px 0px 0px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

.heading_3{/*見出しのキャラクターの文字*/
  color: honeydew;
  font-family: "Impact";
}



/*コピーしたやつ*/
/*画像右バージョン*/
.wrapper{
    width:100%;
}
.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:150px 0px;/*縦サイズ*/
}
/* content */
@media (min-width: 992px) {
    .wrapper .container .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* PC時のみ順番を入れ替える */

@media (min-width: 992px) {
    .wrapper .content {
        flex-direction:row-reverse;
    }
}

.wrapper .content-item {
    width:100%;
}
@media (min-width: 992px) {
    .wrapper .content-item {
        width:50%;
    }
}
.wrapper .image_3{
    display:block;
    max-width:100%;
    margin:0px auto;
}
.wrapper .text{
	color: #fff;
    padding:50px;
}
.wrapper .text .heading{
	color: #fff;
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}



/*画像左バージョン*/
/* container */
.wrapper_2{
    width:100%;
}
.wrapper_2 .container_2{
    max-width:1000px;
    margin:0px auto;
    padding:150px 0px;
}
/* content */
@media (min-width: 992px) {
    .wrapper_2 .container_2 .content_2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.wrapper_2 .content-item_2 {
    width:100%;
}
@media (min-width: 992px) {
    .wrapper_2 .content-item_2 {
        width:50%;
    }
}
.wrapper_2 .image_4{
    display:block;
    max-width:100%;
    margin:0px auto;
}
.wrapper_2 .text_2{
	color: #fff;
    padding:50px;
}
.wrapper_2 .text_2 .heading_2{
	color: #fff;
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.tx {/*テキストの設定*/
  color: white;
  font-family: "MS明朝";
}


