@charset "UTF-8"

html {
	font-size: 100%;
}

body {
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
	line-height: 1.7;
	color: #c0c0c0;
	background-color: #000000;
	margin: 0;
	text-align: center;			/* textを中央に整列 */
}

img {
	max-width: 100%;
}

/*	header
--------------------*/
.logo {
	width: 100px;
	height: 100px;
	margin-top: 0px;
}

.page-header {
	display: flex;
	justify-content: space-between;
}

.main-nav {
	display: flex;				/*liを横並びにしたいから親のここで指定 */
	font-size: 1.5rem;
	font-family: 'Philosopher', serif;
	margin: 25px;
}

.main-nav li{
	list-style: none;			/* ・を消す */
	justify-content: space-between;
}

.main-nav li a {
	padding: 1rem;
	color: #a0a0a0;				/* ナビゲーション内の文字色 */
	text-decoration: none;		/* アンダーバー消す	*/
}

.bgbg {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

#home {
	background-image: url(../images/dk21.png);
	min-height: 100vh;
}

.page-title {
	font-size: 4rem;
	font-family: 'Philosopher', serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 5rem;
	color: #c0c0c0;
	margin: 400px 250px;
}

.box{   /*　ボックスの設定。*/
  width: 100%;
  
  background-color: black;
  text-decoration: none;

}

.resize {
  margin-top: 0px;
}


.font{
  font-size: 1.25rem;
}
.background-2 {     /*画像の挿入 */
  background-image: url(images/Batman-mainbox.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.background-1 {     /*画像の挿入 */
  background-image: url(images/Batman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.background-test {
  background-color :pink;
}

.img-size{
  justify-content: center;
  /*  サイズ */
  width:100%;
  height: 1500px;
  max-width: 1600px;
  max-height: 880px;
  margin-top: 0px;
}

.size-text {
  position: static;
  width: 80%;
  padding: 50px 40px 50px 40px;
}

.center-text {
  text-align: center;
}

/*フッター*/

#sns_footer_1 {
	position: relative;	/*absoluteだと何故か出来ない*/
	width: 100%;		/*アイコンの位置（横）*/
	height: 50px;		/*多分下との幅*/
	left: 0;			/*leftからtopまでいらん↓*/
	right: 0;
	margin: 0;
	top: 0;
	display: flex;		/*いらないかも*/
	justify-content: center;/*いらないかも*/
}

#sns_footer_2 {
	position: absolute;
	top: 0px;
	width: 70%;
	display: flex;
	justify-content: center;/*多分いらん*/

}
footer {
	background: #000000;	/*フッターの色*/
	text-align: center;/*多分中央ぞろえ*/
	padding: 30px 0;	/*フッターのサイズ？*/


}
footer p {
	color: #fff;
	font-size: 0.575rem;

}
footer li{
	text-decoration: none;/*多分いらん*/
	list-style:none;	/*黒点消す*/
	padding: 0 10px 0;	/*アイコンとアイコンの幅*/
}


/*キャラクター*/

/*ロゴ*/
.logo_1 {
	margin: 0;
	padding: 0;
	
}

.character_1 {
	background-image: url("images/haikei3.jpeg");	/*背景画像*/
	background-attachment: fixed;
	background-size: 100%;
	display: flex;		/*横並び*/
}

/*見出し*/
.wrapper_3{
    width:100%;
}
.wrapper_3 .container_3{
    max-width:1000px;
    margin:0px auto;
    padding:70px 0px;
}
/* content */
.wrapper_3 .content_3 {
    padding:10px;
    text-align:center;
}
.wrapper_3 .content_3 .heading_3{
	color: #fff;
    margin:0px 0px 0px 0px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}



/*コピーしたやつ*/
/*画像右バージョン*/
.wrapper{
    width:100%;
}
.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
    .wrapper .container .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* PC時のみ順番を入れ替える */

@media (min-width: 992px) {
    .wrapper .content {
        flex-direction:row-reverse;
    }
}

.wrapper .content-item {
    width:100%;
}
@media (min-width: 992px) {
    .wrapper .content-item {
        width:50%;
    }
}
.wrapper .image_3{
    display:block;
    max-width:100%;
    margin:0px auto;
}
.wrapper .text{
	color: #fff;
    padding:50px;
}
.wrapper .text .heading{
	color: #fff;
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}



/*画像左バージョン*/
/* container */
.wrapper_2{
    width:100%;
}
.wrapper_2 .container_2{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
    .wrapper_2 .container_2 .content_2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.wrapper_2 .content-item_2 {
    width:100%;
}
@media (min-width: 992px) {
    .wrapper_2 .content-item_2 {
        width:50%;
    }
}
.wrapper_2 .image_4{
    display:block;
    max-width:100%;
    margin:0px auto;
}
.wrapper_2 .text_2{
	color: #fff;
    padding:50px;
}
.wrapper_2 .text_2 .heading_2{
	color: #fff;
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

