@charset "UTF-8"; 

html {
    font-size: 100%;
    
  }
  
  body {
  
    margin: 0px;
    /* overflow: hidden; Hide scrollbars */
  
  
  }

  /*フッター*/

#sns_footer_1 {
	position: relative;	/*absoluteだと何故か出来ない*/
	width: 100%;		/*アイコンの位置（横）*/
	height: 50px;		/*多分下との幅*/
	left: 0;			/*leftからtopまでいらん↓*/
	right: 0;
	margin: 0;
	top: 0;
	display: flex;		/*いらないかも*/
	justify-content: center;/*いらないかも*/
}

#sns_footer_2 {
	position: absolute;
	top: 10px;

	width: 70%;
	display: flex;
	justify-content: center;/*アイコンの中央揃え*/
 /* text-align: center; /*start;*/
  /*border: solid;*/

}
/*snsアイコンが上に動く*/
.sns_mo li a {
  display: inline-block;
  transition: 0.5s;
  }
/*同じ*/
.sns_mo li a:hover {
  transform: translateY(-10px);
}

footer {
	background: #000000;	/*フッターの色*/
	text-align: center;/*多分中央ぞろえ*/
	padding: 30px 0;	/*フッターのサイズ？*/


}
footer p {
	color: #fff;
	font-size: 0.575rem;

}
footer li{
	text-decoration: none;/*多分いらん*/
	list-style:none;	/*黒点消す*/
	padding: 0 10px 0;	/*アイコンとアイコンの幅*/
  
}
