@charset "UTF-8";   /*日本語に設定 */

html {
  font-size: 100%;
  
}

body {

  margin: 0px;
  /* overflow: hidden; Hide scrollbars */


}


.main-nav {
  
  display: flex; /*　 文字の並びを横向きに設定　*/
  font-size: 1.25rem;
  text-transform: uppercase; /*  大文字にする　*/
  list-style: none; /*  文字の線をなしにしてる。  */
  justify-content: center;  /*　行の書式を中心に寄せてる。 */
  position: fixed;

  padding: 10px;

}

.main-nav li{
  text-decoration: none;
  /*   この設定でNAVバーの中身の位置を決めてる。*/  
  margin-left: 25px;
  margin-right: 25px;
 /**/
}
.main-nav :hover { /*　HOVERした時の設定。　NAVバーだけ。*/
  color: yellow;

}

.main-nav a {   /*　NAVの a の書式設定。 */

  color: white;
  text-decoration: none; 
}

.box{   /*　ボックスの設定。*/
  width: 100%;
  
  background-color: black;
  text-decoration: none;

}

.resize {
  margin-top: 0px;
}


.font{
  font-size: 1.25rem;
}
.background-2 {     /*画像の挿入 */
  background-image: url(images/Batman-mainbox.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.background-1 {     /*画像の挿入 */
  background-image: url(images/Batman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.background-test {
  background-color :pink;
}

.img-size{
  justify-content: center;
  /*  サイズ */
  width:100%;
  height: 1500px;
  max-width: 1600px;
  max-height: 880px;
  margin-top: 0px;
}

.size-text {
  position: static;
  width: 80%;
  padding: 50px 40px 50px 40px;
}

.center-text {
  text-align: center;
}

/* TOP */